@import url(./box.css);
/* 디폴트 */
* {
    box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    margin: 0;
    padding: 0;
    text-decoration: none;
}  
button{
    background-color: #ffffff00;
    border: 0;
    outline: none;
    &:hover{
    cursor: pointer;
    }
}
input, select, textarea{
    /* border: 0; */
    outline: none;
    background: none;
}
::-webkit-resizer {
    display: none;
  }
/* ---- */
/* 변수--------------------------------------------------------------- */
:root{
    --df-c:#000;
    --df-bodr: 1px #000 solid;
    --df-body-bgc: #f1f1f7;
    --df-t-shdw:0px 2px 2px rgba(0, 0, 0, 0.27);;
    /* border: var(--df-bodr); */
    --tlb-h:25px;
    --tlb-bgc:#1a0d7c10;
    --tlb-c:#fff;
    
    
    --bx-bgc:#fff;
    --bx-size:200px;
    --bx-set-bgc:#cfcfcf92;
    --bx-set-bodr: 1px soild rgba(217, 217, 217, 0.781);
    --bx-set-width:40%;
    --bx-set-c:#272727;
    --bx-t-shdw:0px 3px 5px rgba(0, 0, 0, 0.146);;
    
    --bx-ctrl-width:45px;
    --bx-hdr-h: 35px;
    --bx-hdr-bgc:#f5eeee;
    --bx-hdr-c:#5b5a5a;
    
    --bx-tool-size: 12px;
    --bx-tool-bodr-r: 50px;
    --bx-h: calc(var(--bx-size) + var(--bx-hdr-h));
    /* --bx-tool-shadow-inset: inset ; */
    --bx-bodr-r:12px;
    --bx-bodr-c:rgba(217, 217, 217, 0.781);
    --bx-bodr:1px solid var(var(--bx-bodr-c));
    
    --bx-box-shadow-1: 0 5px 10px 0 rgba(203, 203, 203, 0.283);
    --bx-box-shadow-inset-1: 5px 3px 10px -2px rgba(240, 240, 240, 0.796) inset;
    
    --bx-apps-bgc:#fff;

    --f-h:85px
}
@media (prefers-color-scheme: dark) {
    :root{
        --df-c:#ffffff;
        --df-bodr: 1px #ffffff solid;
        --df-body-bgc: #121213;
        
        
        --bx-bgc:#28272f;
        --bx-hdr-bgc:#3b383b;
        --bx-hdr-c:#a7a4a7;
        
        --bx-set-bgc:#2a2a2ab1;
        --bx-set-bodr: 1px soild rgba(0, 0, 0, 0.781);
        --bx-set-c:#ffffff;
        
        --bx-box-shadow-1: 0 5px 10px 0 rgba(0, 0, 0, 0);

        --bx-apps-bgc:#28272f;
    }
}
/* html, body */
html{
    &::-webkit-scrollbar{
        display: none;
      }
    width: 100%;
    height: 100vh;
    overscroll-behavior: contain;
}
body{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: var(--df-body-bgc);
    background-image: url(./1.jpg);
    background-position: center;
    background-size: cover;
    /* padding: 0 15px 15px 15px; */

}
/* --------------------------------------------------------------- */
.toolbar{
    position: relative;
    width: 100%;
    height: var(--tlb-h);
    padding: 0px 1px;
    background-color: var(--tlb-bgc);
    font-size: 0.85em;

    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

    color: var(--tlb-c);
    /* font-weight: bold; */
    text-shadow: var(--df-t-shdw);
    backdrop-filter: blur(10px);
    >.l, >.c, >.r{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }
    >.c{justify-content: center;}
    >.r{
        justify-content: right;
        display: flex;
    }
    >div>div{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        text-align: center;
        padding: 0 15px;
        border-radius: 5px;
        &:hover{
            cursor: pointer;
        }
        &:active{
            background-color: #ffffff2b;
        }
        .div{height: 100%;}
    }
    .add-bx-icon{
        font-size: .85em;
        color: var(--tlb-c);
    }
}
footer{
position: relative;
bottom: 0;
left: 0;
width: 100%;
height: 85px;
/* padding: 15px; */
border: 1px solid #000;
}
/* 앱, 박스--------------------------------------------------------------- */
/* transition: margin .5s ease-in-out; */
main{
    position: relative;
    width: 100vw;
    height: 100%;
    height: calc(100vh - var(--tlb-h) - var(--f-h));
    overflow-x: hidden;
    overflow-y: visible;
    background: #4ee807d8;
}
/* 위젯 스크린--------------------------------------------------------------- */
.w-screen{
    z-index: 0;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #5730d78b;
}
/* 좌측 박스리스트--------------------------------------------------------------- */
.l-screen{
    z-index: 1000;
    position: absolute;
    left: 0;
    top: 0;
    width:400px;
    height: 100%;
    background: #d7307b8b;
    & .l{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 100px 100px 100px 50px;
        & .stacks{
            border: 1px solid #000;
            height: 100%;
            width: 100%;
        }
    }
    & .r{
        position: absolute;
        right: 0;
        top: 0;
        width: 50px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        border: 1px solid #000;
    }
}
/* 디폴트2 */
.dpnone{
    display: none;
}