/* 디폴트 */
* {
    box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    margin: 0;
    padding: 0;
    text-decoration: none;
}  
button{
    border: 0;
    outline: none;
    &:hover{
    cursor: pointer;
    }
}
/* ---- */
/* 변수--------------------------------------------------------------- */
:root{
    --df-c:#000;
    --df-bodr: 1px #000 solid;
    /* border: var(--df-bodr); */
    
    
    --app-bgc:#fff;
    --app-size:200px;
    --app-hdr-h:30px;
    --app-hdr-bgc:#f7f4f5;

    --app-hdr-c:#5b5a5a;
    --app-tool-size: 12px;
    --app-tool-bodr-r: 50px;
    --app-h: calc(var(--app-size) + var(--app-hdr-h));
    /* --app-tool-shadow-inset: inset ; */
    --app-bodr-r:12px;
    --app-bodr:1px solid rgba(217, 217, 217, 0.781);
}
@media (prefers-color-scheme: dark) {
    :root{
        --df-c:#ffffff;
        --df-bodr: 1px #ffffff solid;
        
        --app-bgc:#282127;
        --app-hdr-bgc:#3b383b;
        --app-hdr-c:#a7a4a7;
    }
}
/* html, body */
html{
    &::-webkit-scrollbar{
        display: none;
      }
    width: 100%;
    height: 100%;
}
body{
    width: 100vw;
    height: 100vh;
}
/* 앱, 박스--------------------------------------------------------------- */
main{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #f1f1f7;
}
.app{
    position: absolute;
    top: 0;
    left: 0;
    width: var(--app-size);
    height: var(--app-h);
    border: var(--app-bodr);
    border-radius: var(--app-bodr-r);
    background-color: var(--app-bgc);
    overflow: hidden;
    color: var(--df-c);
    > .header{
        height: var(--app-hdr-h);
        width: 100%;
        padding: 10px;
        background-color: var(--app-hdr-bgc);
        color: var(--app-hdr-c);
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        .tool{
            width: var(--app-tool-size);
            height: var(--app-tool-size);  
            border-radius: var(--app-tool-bodr-r);
            /* box-shadow: inset 0px 0px 1px #00000044; */
        }
        .l{
            .x{background-color: #ff5f57;}
            .m{background-color: #febc2e;}
            .f{background-color: #27c840;}
        }
        .c{
            >span{
                font-weight: bold;
                font-size: .9em;
            }
        }
        .l{
            i{
                color: var(--app-hdr-c);
            }
        }
        
    }
}